@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

$main-color: #2b415f;
$active-color: #4d6f9e;
$min-width: 370px;
$fonts: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

body {
    font-family: $fonts;
    min-width: 390px;
    color: $main-color;

    > div {
     	width: 80%;
	    min-width: $min-width;
	    margin: 0 auto;
	    text-align:center;
        position: relative;
        h1{
            img {
                vertical-align:middle;
            }
            span::first-letter{
                font-size:larger;
                text-shadow: 2px 2px 2px #ddd;
            }
            
        }
        input[type='search'] {
            width: 80%;
            font-size: 1.2em;
            height: 50px;
            padding: 0.1em;
            @include border-radius(25px); 
            border: 1px solid $main-color;
        }
        form{
            display:none;
            text-align: left;
            width: 80%;
            min-width: $min-width;
            margin: 0 auto;
            div{
                width: 100%;
                margin: 10px 0px;
                float: left;
                label{
                    font-weight: bold;
                    width: 10%;
                    display:inline-block;
                    vertical-align: top;
                }
                label::after{
                    content: ": "; 
                }
                input, textarea{
                    width: 80%;
                    height: 1.5em;
                    padding: 0.1em;
                    @include border-radius(2px); 
                    border: 1px solid $main-color;
                    vertical-align: top;
                }
                textarea{
                    height: 6.6em;
                    width: 90%;
                    font-family: $fonts;
                    line-height: 1.1em;
                }
            }
            button{
                background-color: $main-color;
                color: white;
                height: 1.8em;
                font-weight: bold;
                border: 1px solid $main-color;
                @include border-radius(3px);
            }
            button:hover{
                border: 1px solid $active-color;
                background-color: $active-color;
            }
            img {
                    display:none;
                }
        } 
        div.poster{
                max-width: $min-width;
                img{
                    @include border-radius(5px);   
                }
            }
        .form::after{
            clear: both;
        }
    }
    ::-webkit-input-placeholder {
       text-align: center;
    }

    :-moz-placeholder { /* Firefox 18- */
       text-align: center;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       text-align: center;  
    }

    :-ms-input-placeholder {  
       text-align: center; 
    }
    a, a:visited{
            font-size:0.8em;
            font-weight:bold;
            text-decoration:none;
            color: $main-color;
            text-transform: uppercase;
        }
    a:hover{
        text-decoration: underline;
    }
    .show {
        display:block;
    }
    .hide {
        display: none;
    }
}
